@import "./partials/bootstrap_loader.scss";

.bg-body-dark {
    background-color: $custom-dark;
}

.text {
    color: #fff;
}

.btn-trash {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

.btn-close {
    color: #fff;
}

.modal-bg {
    background-color: $custom-dark;
    color: #fff;
}
