@import "~bootstrap/scss/bootstrap";

.bg-body-dark {
    background-color: #111;
}

.text {
    color: #fff;
}
.jumbotron {
    min-height: 100vh;
}

// Colore labels form
// label {
//     color: green;
// }
