// # MY VARIABLES

$custom-dark: #343a40;
$primary-accent: #e0b341;
$custom-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(50, 247, 11, 0.25);

// # MY PAGINATION VARIABLES

$custom-pagination-green: #198754;
$custom-pagination-light-green: #52efa5;

// OVERRIDE PAGINATION

$pagination-bg: $custom-dark;
$pagination-color: $custom-pagination-green;

// active
$pagination-border-color: $custom-pagination-green;
$pagination-active-bg: $custom-pagination-green;
$pagination-active-color: $custom-pagination-light-green;
$pagination-active-border-color: $custom-pagination-green;

// hover
$pagination-hover-bg: $custom-pagination-light-green;
$pagination-hover-border-color: $custom-pagination-light-green;
$pagination-hover-color: $custom-pagination-green;

// $link-color: $custom-pagination-light-green;
// $link-hover-color: $custom-pagination-light-green;

// disabled
$pagination-disabled-bg: $custom-pagination-light-green;
$pagination-disabled-border-color: $custom-pagination-light-green;

// focus

$pagination-focus-bg: $custom-pagination-light-green;
$pagination-focus-box-shadow: $custom-pagination-focus-box-shadow;

// ! EXAMPLE

// # MY VARIABLES

// $primary-accent: #e0b341;
// $custom-dark: #343a40;
// $custom-darker: #212529;
// ...

// #  OVERRIDE BS VARIABLES

// $primary: goldenrod;
// ...

// # OVERRIDE BS LINKS

// $link-hover-color: $accent;
// ...

// # OVERRIDE BS ...
